* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(13, 236, 205, 0.3);
  padding: 20px;
}
header img {
  height: 50px;
}
header .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .right a {
  font-size: 20px;
}
header .right a:hover {
  text-decoration: none;
}
header .icon i {
  margin-left: 10px;
  font-size: 18px;
}

.theme {
  background-image: url(./img/theme2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
}
.theme .text {
  position: absolute;
  top: 20%;
  left: 16%;
}
.theme p {
  font-size: 26px;
}
.theme h1 {
  font-size: 46px;
  font-weight: 800;
}

.intro {
  padding: 120px 0;
}
.intro .col-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.intro i {
  font-size: 25px;
  color: rgb(13, 110, 122);
  margin-bottom: 10px;
  border: 1px solid #000000;
  border-radius: 50%;
  padding: 20px;
}

.service {
  padding: 50px 0;
  background: rgba(238, 238, 148, 0.3);
}
.service h2 {
  color: crimson;
  text-align: center;
  font-weight: 789;
}
.service p {
  text-align: center;
  font-size: 24px;
}
.service .rows {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.service .cols-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgb(13, 110, 122);
  padding: 30px 10px;
  background-color: rgb(128, 219, 244);
}
.service .cols-4 i {
  font-size: 30px;
  color: rgb(13, 110, 122);
  margin-bottom: 10px;
}
.service .cols-4 a {
  text-decoration: underline;
}

.form {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0;
}
.form .connect a {
  color: #000000;
}
.form a:hover {
  text-decoration: none;
}
.connect {
  margin-bottom: 20px;
  border: 1px solid rgb(192, 67, 223);
  border-radius: 20px;
  padding: 10px;
  width: 500px;
  background-color: #cc46b4;
}
.connect i {
  margin-right: 10px;
}
.connect span {
  font-weight: 789;
}
.form .input-group {
  margin-bottom: 20px;
  width: 500px;
}
.enter {
  margin-bottom: 20px;
  margin-top: 20px;
  border: 1px solid rgb(13, 236, 205);
  padding: 15px;
  width: 300px;
  background-color: #39a1ce;
}
.enter span {
  font-weight: 789;
}
.account {
  padding-bottom: 20px;
}
.account i {
  font-size: 10px;
}
.carousel img {
  width: 80%;
  height: 100%;
}

/* housing */
.head {
  background-image: url(../img/b1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 580px;
  color: #ffffff;
  margin-top: 100px;
}
.head h1 {
  font-size: 36px;
  font-weight: normal;
  padding-left: 10px;
}
.head span {
  color: #02cdce;
}
.head .list a:hover {
  color: #02cdce;
}
.head a {
  color: #ffffff;
  margin: 20px;
  font-size: 20px;
  text-decoration: none;
}
.head .list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}
.list .caro {
  display: flex;
  flex-direction: column;
}
.head .list .caro .hr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 15px;
}
.head .pro {
  text-align: center;
  padding-top: 180px;
}
.head .pro h1 {
  font-size: 50px;
  margin: 15px 0;
  font-weight: bold;
}
.head .pro p {
  font-size: 25px;
}
.about {
  text-align: center;
  width: 100%;
}
.about > img {
  width: 100%;
  height: 100px;
}
.about h1 {
  padding-top: 30px;
  font-size: 43px;
  padding-bottom: 20px;
}
.about h2 {
  font-size: 30px;
  color: #02cdce;
  padding-bottom: 15px;
}
.about .rows {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto;
}
.about .item i {
  font-size: 25px;
  border: 1px solid #4c4444;
  border-radius: 50%;
  padding: 30px;
}
.about .item p {
  color: #4c4444;
  margin: 10px;
}
.about > p {
  padding: 20px 88px;
}
.stats {
  background-color: #02cdce;
  text-align: center;
  width: 100%;
  height: 300px;
  margin-top: 40px;
}
.stats h1 {
  font-size: 43px;
  padding-top: 40px;
}
.stats p {
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  padding-top: 40px;
}
.stats span {
  font-size: 30px;
}
.stats .rows {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
  margin: auto;
  width: 85%;
}
.blog {
  text-align: center;
  padding: 20px 0;
  width: 100%;
}
.blog .rows {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 60%;
}
.blog .item {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #efefef;
  margin: 10px;
  border-top: 5px solid #02cdce;
}
.blog .item img {
  height: 200px;
}
.blog .item span {
  font-size: 22px;
  color: #02cdce;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 15px;
}
.blog .item p {
  margin-left: 15px;
  padding-bottom: 20px;
}
.blog a {
  background-color: #000000;
  text-decoration: none;
  color: #02cdce;
  margin-left: 15px;
  margin-bottom: 15px;
  padding: 10px 15px;
  width: 40%;
}
.more {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 300px;
}
.more .img {
  width: 40%;
}
.more .img img {
  width: 100%;
  height: 100%;
}
.more .img i {
  background-color: #378f93;
  font-size: 40px;
  color: #ffffff;
  padding: 10px;
  border: 1px solid #378f93;
  border-radius: 50%;
  position: relative;
  top: -50%;
  left: center;
}
.more .info {
  background-color: #02cdce;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more .info h1 {
  font-size: 36px;
  margin: 20px 0;
}
.more .info p {
  color: #ffffff;
  margin: 20px 0;
}
.more .info a {
  background-color: #000000;
  color: #02cdce;
  text-decoration: none;
  padding: 15px;
  width: 20%;
}
.por {
  width: 100%;
}
.por h1 {
  text-align: center;
  font-size: 43px;
  padding: 40px 0;
}
.por .img {
  margin: auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
.por .img img {
  width: 30%;
  margin: 5px 10px;
}
.subs {
  background-color: #02cdce;
  width: 100%;
  text-align: center;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subs h1 {
  font-size: 43px;
  padding: 30px 0;
}
.subs span {
  color: #ffffff;
  padding: 30px 0;
}
.subs input {
  padding: 15px;
  width: 40%;
  border: 1px solid #02cdce;
}
.subs a {
  background-color: #000000;
  text-decoration: none;
  color: #ffffff;
  padding: 12px 30px;
  margin-top: 30px;
}
.team {
  width: 100%;
  text-align: center;
  padding-top: 30px;
}
.team .rows {
  margin: auto;
  width: 80%;
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.team .col {
  margin: 10px;
  background-color: #363636;
  width: 100%;
}
.team .col img {
  margin: auto;
  width: 100%;
}
.team .col p {
  font-size: 20px;
  font-weight: bold;
  color: #02cdce;
  padding: 10px 0;
}
.team span {
  color: #ffffff;
}
.team .item {
  padding: 10px 5px;
}
.team .item i {
  margin: 10px;
  color: #ffffff;
  font-size: 25px;
}

/*STORE */
.get {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}
.get h1 {
  font-size: 40px;
  text-align: center;
  padding-top: 30px;
}
.get p {
  text-align: center;
  padding: 15px;
}
.get b {
  font-size: 22px;
}
.get .list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 50px;
  width: 85%;
}
.get .item {
  text-align: center;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.get .item i {
  color: #f97c68;
  font-size: 36px;
  margin-bottom: 15px;
}
.center {
  background-image: url(./img/nal1.jpg);
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.center h1 {
  color: #ffffff;
  text-align: center;
}
.center a {
  background-color: #856df8;
  color: #ffffff;
  border: 1px solid #856df8;
  padding: 10px 20px;
  text-decoration: none;
}
.statictis {
  text-align: center;
  padding: 30px 0;
  width: 100%;
}
.statictis .rows {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 50px;
  margin: auto;
  width: 70%;
}
.statictis .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.statictis .item h1 {
  color: #f97c68;
  font-size: 40px;
}
.statictis .item b {
  font-size: 25px;
}
.statictis h1 {
  padding-bottom: 15px;
}
.animal {
  text-align: center;
  background-color: #f8e9ad;
  padding-top: 20px;
}
.nature {
  text-align: center;
  background-color: #02cdce;
  padding-top: 20px;
}
.slick-slider {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.slick-list {
  width: 85%;
}
.slide {
  padding: 50px;
}
.slide img {
  height: 250px;
  width: 90%;
}

footer {
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  font-size: 12px;
}
@media only screen and (max-width: 992px) {
  .service p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) {
  header {
    justify-content: space-around;
    padding: 10px;
  }

  .theme {
    height: 300px;
  }

  .innovation img {
    height: 120px;
  }
  .innovation p {
    font-size: 14px;
  }
  .innovation .second a {
    font-size: 15px;
  }

  .intro i {
    font-size: 20px;
  }
  .intro h3 {
    font-size: 18px;
  }
  .intro p {
    font-size: 16px;
  }

  .service p {
    font-size: 16px;
  }
  .service h3 {
    font-size: 18px;
  }
  .service a {
    font-size: 15px;
  }
}
